{% load static %}
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="{% static 'img/logo.png' %}" class="img-logo" alt="">
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            
            {% if user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'book_home' %}">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'book_create' %}">New Book</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'category_home' %}">Category</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'accounts_logout' %}" onclick="return confirm('Are you sure you want to logout?')">
                    <b>Logout {{ user.username }}!</b>
                </a>
            </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'accounts_login' %}">Login</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'accounts_register' %}">Register</a>
            </li>
            {% endif %}            
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>